<section>
  <div class="card__menu__denuncia">
    <div>
      <p class="card__menu__denuncia__title">¿Qué gestión desea realizar?</p>
    </div>
    <div class="card__menu__denuncia__item">
      <p>Crear un nuevo denuncio</p>
      <i class="bi bi-chevron-right"></i>
    </div>
    <div class="card__menu__denuncia__item">
      <p>Aportar antecedentes a un siniestro ya creado</p>
      <i class="bi bi-chevron-right"></i>
    </div>
    <p class="help__leyend"><span>¿Tienes dudas o necesitas ayuda?</span> llámanos al 6006601212</p>
  </div>
</section>
