<section>
  <div class="footer__information">
    <p>Un Seguro <img src="" alt="image"> <span style="font-weight: 700;">MetLife</span></p>
    <p style="font-weight: bold">Contacto</p>
    <p>seguro@clinicasantamaria.cl</p>
    <p>Av. Bellavista 0415, 1° subterráneo, Providencia</p>
  </div>

  <div class="social__media">
    <a href=""><img src="../../../../../assets/svg-social-media/facebook-2.svg" alt=""></a>
    <a href=""><img src="../../../../../assets/svg-social-media/twitter.svg" alt=""></a>
    <a href=""><img src="../../../../../assets/svg-social-media/instagram.svg" alt=""></a>
    <a href=""><img src="../../../../../assets/svg-social-media/youtube.svg" alt=""></a>
    <a href=""><img src="../../../../../assets/svg-social-media/linkedin-2.svg" alt=""></a>
  </div>
</section>

