<section>
  <div class="footer__information">
    <div class="footer__information__title">
      <p>Un Seguro</p>
      <img class="image__metlife" src="{{urlImageMetLife}}" alt="image">
    </div>
    <p style="font-weight: bold">Contacto</p>
    <p>seguro@clinicasantamaria.cl</p>
    <p>Av. Bellavista 0415, 1° subterráneo, Providencia</p>
  </div>

  <div class="social__media">
    <a href=""><img src="{{urlImage}}facebook-2.svg" alt=""></a>
    <a href=""><img src="{{urlImage}}twitter.svg" alt=""></a>
    <a href=""><img src="{{urlImage}}instagram.svg" alt=""></a>
    <a href=""><img src="{{urlImage}}youtube.svg" alt=""></a>
    <a href=""><img src="{{urlImage}}linkedin-2.svg" alt=""></a>
  </div>
</section>

