<main>
  <figure>
    <!-- <img src="" alt="" srcset=""> -->
  </figure>

  <section>
    <div class="section__home">
      <figure class="header__image">
        <img src="{{urlImage}}" alt="IMAGE">
      </figure>
      <div class="header__tittle">
        <p>Portal denuncios</p>
      </div>
      <div class="leyend">
        <p>A continuación debes <span>ingresar la documentación</span> solicitada para evaluar tu sinistro. <span>Debes tener tu cédula de identificación a mano.</span> </p>
        <p>Es importante que <span>guardes los documentos originales como respaldo.</span> </p>
        <p>Una vez que cargues la documentación <span>en un plazo máximo de 10 días hábiles contarás con una respuesta.</span></p>
      </div>

      <button class="button-primary" (click)="redirectLogin()">INICIAR SESIÓN</button>
    </div>
  </section>
</main>

<app-footer></app-footer>
